<html ng-app="empresas">
	<head>
		<title>Empresas</title>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="js/ng-grid.js"></script>
		<script type="text/javascript" src="js/empresas.js"></script>
		<script type="text/javascript" src="js/Services/empresas.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/flat-ui.css">
		<link rel="stylesheet" type="text/css" href="css/ng-grid.css">
	</head>
	<body ng-controller="nuevo" id="nuevo">
		<button class="btn btn-sm"  ng-click="openModal('550','Agregar empresa')">
			<img src="img/add.png" width="25px" height="25px">
			Agregar
		</button>
		<div style="width:30%;">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(0)">{{alert.msg}}</alert>
		</div>
		<!-- MODAL -->
  		<script type="text/ng-template" id="myModalContent.html">
		    <div class="modal-header">
		    <h4 class="modal-title">{{modalTitle}}</h4>
		    </div>
		    <div class="modal-body" id="modal-body">
		        <div style="margin-top:5px;">
		          	Empresa:
					<input type="text" 
						   class="form-control" 
						   placeholder="Nombre de empresa" 
						   id="nb_empresa" 
						   ng-model="nb_empresa">
				</div>
				<div style="margin-top:5px;">
					Direcci&oacute;n:
					<input type="text" 
						   class="form-control" 
						   placeholder="Calle y n&uacute;mero" 
						   ng-model="de_direccion1">
					<input type="text" 
						   class="form-control" 
						   placeholder="Colonia y ciudad" 
						   ng-model="de_direccion2">
				</div>
				<div style="margin-top:5px;">
					Telefono:
					<input type="text" 
						   class="form-control" 
						   placeholder="Numero de telefono" 
						   ng-model="nu_telefono">
				</div>
				<div style="margin-top:5px;">
					Codigo Postal:
					<input type="text"
					       class="form-control" 
						   placeholder="Codigo postal" 
						   ng-model="nu_cp">
				</div>
				<div style="margin-top:10px;text-align: center;">
					<button class="btn btn-success" ng-click="save()">Guardar</button>
				</div>
				<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(0)">{{alert.msg}}</alert>
	        </div>
	        <div class="modal-footer">
	            <!-- <button class="btn btn-primary" ng-click="ok()">OK</button> -->
	            <button class="btn btn-warning" ng-click="cancel()">Cerrar</button>
	        </div>
	    </script>

		<br>
		<table>
			<tr>
				<td>
					Clave:
					<input type="text"
					       class="form-control" 
						   placeholder="Clave de empresa" 
						   ng-model="id_empresa"
						   style="width:250px;">
				</td>
				<td>
					Nombre:
					<input type="text"
					       class="form-control" 
						   placeholder="Nombre de empresa" 
						   ng-model="nb_empresaFiltro"
						   style="width:250px;">
				</td>
				<td>
					<button class="btn btn-primary btn-lg" ng-click="listar()">Buscar</button>
				</td>
			</tr>
		</table>
		<!-- <table width="60%" class="table table-hover">
			<tr>
				<th>Empresa</th>
				<th>Direcci&oacute;n</th>
				<th>Telefono</th>
				<th>Acciones</th>
			</tr>
			<tr ng-repeat="empresa in empresas">
				<td>{{empresa.NB_EMPRESA}}</td>
				<td>{{empresa.DE_DIRECCION}} CP: {{empresa.NU_CODIGOPOSTAL}}</td>
				<td>{{empresa.NU_TELEFONO}}</td>
				<td>
					<img src="img/edit.png" style="width:25px;height:25px;cursor:pointer;" ng-click="editar(empresa)">
					<img src="img/delete.png" style="width:25px;height:25px;cursor:pointer;" ng-click="eliminar(empresa)">
				</td>
			</tr>
		</table> -->
		<h3>NG-GRID</h3>
		<div class="gridStyle" ng-grid="gridOptions"></div>

	</body>
</html>